{# <footer class="site__footer">
	<div class="container">
	    <p class="credit">Developed by Tristan Hampton, 2021</p>
	</div>
</footer>
 #}

<script type="text/javascript" src="/js/plugins/p5.min.js"></script>
<script src="/js/main.js"></script>
