<header class="site__header">
	<div class="container">

		<h1 class="site__logo"><a href="/" title="Tristan Hampton">Tristan H.</a></h1>

	 	{% include 'navigation.njk' %}

	 	<button class="menu-toggle" aria-label="navigation toggle"></button>
	</div>
</header>