<!DOCTYPE html>
<html lang="en">
<head>
	<script>
	window.dataLayer = window.dataLayer || [];
	</script>
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-TWS3W3Q');</script>
	<!-- End Google Tag Manager -->

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="author" content="Tristan Hampton">
	<meta name="description" content="Front End Web Developer from Edmonton, Alberta focusing on clean, accessible websites.">
	<meta name="robots" content="follow,index">

	{% if ogType %}
		<meta name="og:type" content="{{ ogType }}">
	{% endif %}

	{% if ogTitle %}
		<meta name="og:title" content="{{ ogTitle }}">
		<meta name="twitter:title" content="{{ ogTitle }}">
	{% endif %}

	{% if ogDescription %}
		<meta name="og:description" content="{{ ogDescription }}">
		<meta name="twitter:description" content="{{ ogDescription }}">
	{% endif %}

	{% if ogImage %}
		<meta name="og:image" content="{{ ogImage }}">
		<meta name="twitter:description" content="{{ ogDescription }}">
	{% endif %}

	<meta name="og:url" content="https://tristanhampton.ca/{{ permalink }}">

	<title>{{siteTitle if siteTitle else 'Tristan Hampton'}}{% if title %} - {{ title }}{% endif %}</title>

	<link rel="icon" type="image/x-icon" href="/favicons/favicon.ico">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body class="site">
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TWS3W3Q"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->