<header class="site__header">
	<div class="container">

		<a href="/" class="site__logo gradient-hover" title="Tristan Hampton">Tristan H.</a>

	 	{% include 'navigation.njk' %}

	 	<button class="menu-toggle" aria-label="navigation toggle"></button>
	</div>
</header>