<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="author" content="Tristan Hampton">
	<meta name="description" content="Front End Web Developer from Edmonton, Alberta">

	<title>{{siteTitle if siteTitle else 'Tristan Hampton'}}{% if title %} - {{ title }}{% endif %}</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body class="site">