/* Colors
 * ----------------------------------------------- */
$white: #FFF;
$black: #212121;

$primary: #E6E6FA;
$secondary: #3300cc;
$tertiary: #6600cc;
$quaternary: #9900cc;
$quinary: #cc00cc;




/* Spacing
 * ----------------------------------------------- */
$sp-0           : 0.45rem;
$sp-1           : 0.9rem;
$sp-2           : 1.8rem;
$sp-3           : 2.7rem;
$sp-4           : 3.6rem;
$sp-5           : 4.5rem;
$sp-6           : 5.4rem;
$sp-7           : 6.3rem;
$sp-8           : 7.2rem;
$sp-9           : 8.1rem;
$sp-10          : 9rem;




/* Fonts
 * ----------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Serif&display=swap');

@mixin ff-noto-reg {
    font-family: 'Noto Serif', serif;
    font-weight: 400;
}

@mixin ff-noto-bold {
    font-family: 'Noto Serif', serif;
    font-weight: 700;
}

@mixin ff-lato-reg {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

@mixin ff-lato-bold {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}


/* Font Sizes
 * ----------------------------------------------- */
$text-regular: 1.8rem;
$text-small: 1.6rem;

$heading-1: 6.866rem;
$heading-2: 5.493rem;
$heading-3: 2.813rem;
$heading-4: 2.2rem;

$heading-1-m: 3.649rem;
$heading-2-m: 2.883rem;
$heading-3-m: 2.278rem;
$heading-4-m: 2rem;



/* Containers
 * ----------------------------------------------- */
$container: 1020px;
$container-narrow: 850px;
$container-wide: 1200px;

$padding-desktop: $sp-6;
$padding-tablet: $sp-4;
$padding-mobile: $sp-2;


/* Borders
 * ----------------------------------------------- */
$border: 1px dashed $primary;

@mixin border-left {
    position: relative;

    &::after {

    }
}


/* Other
 * ----------------------------------------------- */
 @mixin gradient-hover {
    text-decoration: none;
    background: linear-gradient(to right, $white 0 50%, $quinary, $quaternary);
    background-size: 250%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .3s ease-out;

    &:hover,
    &:focus {
        background-position: 100%;
        text-decoration: none;
    }
 }

 .gradient-hover {
    @include gradient-hover;
 }

 .sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important; 
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
 }