---
title: Album Animation II
date: 2022-08-26
tags:
- generative 
libraries:
- p5.min.js
- p5.sound.min.js
- tweakpane.min.js
- p5-custom-library.js
published: true
---
<main class="site__main main--projects">

	<section class="intro">
		<div class="container">
			<h1>{{ title }}</h1>
			<p>This simple animation was inspired by the album <a href="https://open.spotify.com/album/2bqWW4DxQFU03USx788o9d"><i>Supernormal..and..Pilot</i></a> by <a href="https://modernchemistry.bandcamp.com/">Modern Chemistry</a>. The song used is <i>Supernormal</i>. Press play to start playing the audio visualizer.</p>
    </div>
	</section>

	<section class="project__canvas section--basic">
		<h2 class="sr-only">Project Canvas</h2>
		<div class="container type--canvas" id="canvasContainer"></div>
	</section>

	<section class="project__tweak-settings section--basic">
		<h2 class="sr-only">Project Settings</h2>
		<div class="container"></div>
	</section>

</main>

{% for library in libraries %}
	<script type="text/javascript" src="/js/plugins/{{ library }}"></script>
{% endfor %}
<script src="../js/{{ js_file }}.js"></script>