---
title: Pencil Crayon Walkers
date: 2022-04-15
tags:
- generative 
libraries:
- p5.min.js
- tweakpane.min.js
- p5-custom-library.js
published: true
---
<main class="site__main">

	<section class="intro">
		<div class="container">
			<h1>{{ title }}</h1>
			<p>Click on the canvas! Walkers will move about, with a random colour and pencil weight.</p>
		</div>
	</section>

	<section class="project__canvas section--basic">
		<h2 class="sr-only">Project Canvas</h2>
		<div class="container type--canvas" id="canvasContainer"></div>
	</section>

	<section class="project__tweak-settings section--basic">
		<h2 class="sr-only">Project Settings</h2>
		<div class="container"></div>
	</section>
</main>

{% for library in libraries %}
	<script type="text/javascript" src="/js/plugins/{{ library }}"></script>
{% endfor %}
<script src="../js/{{ js_file }}.js"></script>