---
layout: canvas
siteTitle: "11ty Starter"
title: "Pencil Walkers"
permalink: "projects/pencil-walkers/"
eleventyNavigation:
  key: Pencil Walkers
  parent: 'projects'
  order: 1
---


<script src="/js/processing/walker-pencil.js"></script>