---
layout: default
siteTitle: "Tristan Hampton"
title: "Generative"
eleventyNavigation:
  key: Generative
  parent: ''
  order: 6
permalink: "/generative/"
---

<main class="site__main main--projects">

	<section class="intro">
		<div class="container">
			<h1>Generative Art</h1>
			<p>All of these projects are made using <a href="https://p5js.org" target="_blank">p5.js</a>, a Javascript processing library for making art and such using the HTML Canvas</p>
		</div>
	</section>

	<section class="list">
		<div class="container">
			<h2 class="sr-only">List of Projects</h2>

			<ul>
				{% for project in collections.generative %}
					{% if project.data.published %}
						<li class="h3 generative-item"><a href="{{ project.url }}" class="gradient-hover" title="{{ project.data.title }}">{{ project.data.title }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>

		</div>
	</section>

</main>