---
layout: default
siteTitle: "Tristan Hampton"
title: "Generative Art"
eleventyNavigation:
  key: Generative Art
  parent: ''
  order: 2
permalink: "/generative/"
---

<main class="site__main main--projects">

	<section class="intro">
		<div class="container">
			<h1>Generative Art</h1>
			<p>All of these projects are made using <a href="https://p5js.org" target="_blank">p5.js</a>, a Javascript processing library for making art and such using the HTML Canvas</p>
		</div>
	</section>

	<section class="list">
		<div class="container">
			<h2>Projects</h2>

			<ul class="generative-list">
				{% for project in collections.generative | reverse %}
					{% if project.data.published %}
						<li class="generative-item">
							<a href="{{ project.url }}" title="{{ project.data.title }}" style="background-image: url(img/{{ project.data.thumbnail }})">
								<h3>{{ project.data.title }}</h3>
							</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</section>
	{{eleventy| dump}}

	{% if eleventy.env.source == 'cli' %}
	<section class="list">
		<div class="container">
			<h2>Studies</h2>

			<ul class="generative-list">
				{% for project in collections.generative | reverse %}
					{% if 'study' in project.data.tags %}
						<li class="generative-item">
							<a href="{{ project.url }}" title="{{ project.data.title }}" style="background-image: url(img/{{ project.data.thumbnail }})">
								<h3>{{ project.data.title }}</h3>
							</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</section>
	{% endif %}
</main>