---
layout: default
siteTitle: "Tristan Hampton"
title: "Projects"
eleventyNavigation:
  key: Projects
  parent: ''
  order: 6
permalink: "/projects/"
---

<main class="site__main main--projects">
	<section class="intro">
		<div class="container">
			<h1>Web Projects</h1>
			
	</section>

	<section class="projects__list">
		<div class="container">
			<h2>Projects with Box Clever</h2>

			{% for project in collections.boxclever %}
				<article class="project-item" style="background-image: url(../{{ project.data.img_small }})">
					<a href="{{ project.data.site if project.data.redirect else project.url }}" target="{{ '_blank' if project.data.redirect else '' }}" title="{{ project.data.title }}">
						<h3>{{ project.data.short }}</h3>
					</a>
				</article>
			{% endfor %}
		</div>
	</section>

	<section class="projects__list">
		<div class="container">
			<h2>Projects with Yellow Pencil</h2>

			{% for project in collections.yellowpencil %}
				<article class="project-item" style="background-image: url(../{{ project.data.img_small }})">
					<a href="{{ project.data.site if project.data.redirect else project.url }}" target="{{ '_blank' if project.data.redirect else '' }}" title="{{ project.data.title }}">
						<h3>{{ project.data.short }}</h3>
					</a>
				</article>
			{% endfor %}
		</div>
	</section>


</main>