input:not([type='submit']),
select {
  padding: 0 $sp-1;
  height: 5rem;
  line-height: 5rem;
  background-color: #2b2b2b;
  border: 1px solid $white;
  color: $white;
}


.form-item.type--file {

  label {
    @include button;
    @include button--secondary;
  }
  
  input[type="file"] {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
  }
}

.form-item {
  label {
    display: block;
  }

  input, textarea, select {
    display: block;
  }

  label + * {
    margin-top: $sp-0;
  }

  +button {
    margin-top: $sp-2;
  }

  +.form-item {
    margin-top: $sp-2;
  }
}