/* 1rem font reset
 *----------------------------------*/
html {
    font-size: 16px;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Spacing
 *----------------------------------*/
html * {
    +* {
        margin-top: $sp-2;
    }

    +h1,
    +h2,
    +h3 {
        margin-top: $sp-4;
    }

    +section {
        margin-top: $sp-10;
    }
}


/* Canvas
 * ----------------------------------------------- */
.site {

    >canvas {
        transition: opacity 0.3s ease-out;
        transition-delay: .3s;
        width: 300px !important;
        height: 300px !important;
    }

    @include min-bp(layout-break) {
        >canvas {
            position: fixed;
            bottom: 0;
            left: 0;
            z-index: -1;
        }
    }

    @include bp(layout-break) {
        canvas {
            visibility: hidden;
            opacity: 0;
        }

        &.lock {
            canvas {
                position: fixed;
                bottom: 0;
                left: 0;
                z-index: 15;
                visibility: visible;
                opacity: 1;
            }

            .site__nav {
                padding-bottom: 30rem;
            }
        }
    }
}

canvas {
    margin: 0;
}


/* Page Layout
 *----------------------------------*/
.site {
    @include ff-lato-reg;
    margin: 0;
    background-color: #212121;
    color: #F9F9F9;
    font-size: $text-small;

    &.lock {
        overflow: hidden;
    }

    .site__content {
        margin: 0;
    }

    .site__main {
        padding: $sp-4 0;
    }

    @include min-bp(layout-break) {
        display: flex;
        min-height: 100vh;
        font-size: $text-regular;

        .site__header {
            flex: 0 1 35rem;
            min-width: 20rem;
        }

        .site__content {
            flex: 1 1 calc(100% - 35rem);
            display: flex;
            flex-direction: column;
            min-width: 40rem;
        }

        //--- Sticky Footer
        .site__main {
            flex: 1 0 auto;
            padding: $sp-6 0 $sp-4;
        }

        .site__footer {
            flex-shrink: 0;
        }
    }
}



/* Containers
 *----------------------------------*/
@mixin container {
    margin: 0 auto;
    padding: 0 $padding-mobile;
    width: 100%;
    max-width: $container;

    &.width--narrow {
        max-width: $container-narrow;
    }

    &.width--wide {
        max-width: $container-wide;
    }

    &.type--canvas {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100%;
    }

    @include min-bp(mobile-switch) {
        padding: 0 $padding-tablet;
    }

    @include min-bp(layout-break) {
        padding: 0 $padding-desktop;
    }
}

.container {
    @include container;
}