---
title: Starter Project
date: 2022-12-31
ogDescription: "OG description here"
tags:
- generative 
- study
libraries:
- p5.min.js
- tweakpane.min.js
- p5-custom-library.js
---
<main class="site__main main--projects">

	<section class="intro">
		<div class="container">
			<h1>{{ title }}</h1>
			<p>To generate a new image, click or tap the image. Changing the image settings will also cause the image to update.</p>
    </div>
	</section>

	<section class="project__canvas section--basic">
		<h2 class="sr-only">{{ title }} Canvas</h2>
		<div class="container type--canvas" id="canvasContainer"></div>
	</section>

	<section class="project__tweak-settings section--basic">
		<h2 class="sr-only">{{ title }} Settings</h2>
		<div class="container"></div>
	</section>
</main>

{% for library in libraries %}
	<script type="text/javascript" src="/js/plugins/{{ library }}"></script>
{% endfor %}
<script src="../js/{{ js_file }}.js"></script>