---
tags:
- generative 
date: 2022-04-15
layout: canvas
title: Grids and Angles
permalink: "generative/grids-and-angles/"
published: false
eleventyNavigation:
  key: Grids and Angles
  parent: 'generative'
  order: 1
---
<main class="site__main main--projects">

	<section class="intro">
		<div class="container">
			<h2>{{ title }}</h2>
    </div>
	</section>

	<div class="container type--canvas" id="canvasContainer"></div>

</main>

<script src="/js/generative/grids-and-angles.js"></script>