---
tags:
- generative 
date: 2022-04-15
layout: canvas
title: Pencil Crayon Walkers
permalink: "generative/pencil-walkers/"
eleventyNavigation:
  key: Pencil Walkers
  parent: 'generative'
  order: 1
---
<main class="site__main main--projects">

	<section class="intro">
		<div class="container">
			<h2>Pencil Crayon Walkers</h2>
	</section>

	<div class="container type--canvas" id="canvasContainer"></div>

</main>

<script src="/js/processing/walker-pencil.js"></script>