---
tags:
- generative 
date: 2022-04-15
layout: canvas
title: Pencil Crayon Walkers
permalink: "generative/pencil-walkers/"
published: true
eleventyNavigation:
  key: Pencil Walkers
  parent: 'generative'
  order: 1
---
<main class="site__main">

	<section class="intro">
		<div class="container">
			<h1>{{ title }}</h1>
			<p>Click on the canvas! Walkers will move about, with a random colour and pencil weight.</p>
		</div>
	</section>

	<section class="project__canvas section--basic">
		<h2 class="sr-only">Project Canvas</h2>
		<div class="container type--canvas" id="canvasContainer"></div>
	</section>

</main>

<script type="text/javascript" src="/js/plugins/p5.min.js"></script>
<script src="/js/generative/p5-custom-library.js"></script>
<script src="/js/generative/walker-pencil.js"></script>