---
tags:
- project
date: 2021-04-01
layout: single
title: Executrade
short: Executrade
company: Box Clever
redirect: true
site: 'https://executrade.com/'
img_desktop: "/img/screenshots/executrade-desktop.png"
img_mobile: "/img/screenshots/executrade-mobile.png"
permalink: "projects/executrade/"
---
