---
tags:
- project
- boxclever
date: 2021-02-01
layout: single
title: Peace River School Division
short: Peace River SD
company: Box Clever
redirect: true
site: 'https://prsd.ab.ca'
img_desktop: "/img/screenshots/prsd-desktop.png"
img_mobile: "/img/screenshots/prsd-mobile.png"
img_small: "/img/screenshots/prsd-small.png"
permalink: "projects/prsd/"
---

<p>Peace River was the first full school website build I was given at Box Clever. It features quicklinks that they can customize, and are persistant between every page to assist in more accessible navigation.</p>

<img src="{{ img_desktop }}" class="single__image position--left">

<p>The home page was built to call attention to what they think is most important. Such as the banner with a call to action, as well as their most recent news and a featured news post</p>

<p>When the client is building out pages, they have a variety of content types at their disposal to make their pages more engaging, such as featured posts, accordions, and custom blockquotes.</p>

<p>The site is fully responsive so that no content is lost on any viewport size.</p>
