---
tags:
- project
- boxclever
date: 2021-11-01
layout: single
title: Rocky Mountain School District
short: Rocky Mountain
redirect: true
img_desktop: "/img/screenshots/rocky-mountain-desktop.png"
img_mobile: "/img/screenshots/rocky-mountain-mobile.png"
site: 'https://www.sd6.bc.ca/'
img_small: "/img/screenshots/rocky-mountain-small.png"
permalink: "projects/rocky-mountain/"
---