---
tags:
- tool 
date: 2022-08-25
layout: default
title: SVG to CSS Polygon
permalink: "tools/svg-to-polygon/"
published: true
eleventyNavigation:
  key: SVG to CSS Polygon
  parent: 'tools'
  order: 1
---
<main class="site__main main--projects">

	<section class="intro">
		<div class="container">
			<h1>{{ title }}</h1>
      <p>Tool For converting SVG paths into CSS Polygon shapes. Right now, it can only handle simpler SVG's that don't have multiple path properties.</p>
      <p>The CSS polygon property can only handle straight lines, so the more points used the smoother curves will be</p>
    </div>
	</section>

	<section class="project__canvas section--basic">
    <div class="container">
      <form action="">
        <label for="numberOfPoints">Number of Points</label>
        <input id="numberOfPoints" type="number" min="0" max="300" value="60">
        </br>
        <label for="svgFile">Upload SVG</label>
        <input id="svgFile" type="file" accept=".svg">
        </br>
        <button class="button button--primary submit" type="submit">Generate CSS</button>
      </form>
    </div>
	</section>

  <section class="output">
    <div class="container">
      <h2>CSS Output</h2>
      <p class="code"></p>
      <p class="aspect-ratio"></p>
      <img src="" alt="">
    </div>
  </section>

</main>

<script src="../js/clip-path.js"></script>