---
tags:
- generative 
- study
date: 2022-08-26
layout: canvas
title: Audio II
permalink: "generative/audio-ii/"
published: true
thumbnail: "audio-ii.png"
eleventyNavigation:
  key: Title
  parent: 'audio-ii'
  order: 1
---
<main class="site__main main--projects">

	<section class="intro">
		<div class="container">
			<h1>{{ title }}</h1>
			<p>Click the canvas to start playing the audio visualizer.</p>
			<p class="mobile-only">Unfortunately, due to mobile restrictions, this can not be played on mobile.</p>
    </div>
	</section>

	<section class="project__canvas section--basic">
		<h2 class="sr-only">Project Canvas</h2>
		<div class="container type--canvas" id="canvasContainer">
			<audio controls src="../mp3/Apta - Elements 1 - 07 Breath.mp3"></audio>
		</div>
	</section>

	<section class="project__tweak-settings section--basic">
		<h2 class="sr-only">Project Settings</h2>
		<div class="container">
		</div>
	</section>

</main>

<script type="text/javascript" src="/js/plugins/p5.min.js"></script>
<script type="text/javascript" src="/js/plugins/tweakpane.min.js"></script>
<script src="/js/generative/p5-custom-library.js"></script>
<script src="../js/audio-ii.js"></script>